<h1>Home Page</h1>

<img style="width:50%" src="https://images.unsplash.com/photo-1530735270084-64865de16524?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e1cfe7486d088e5770ce2667ed9d77e&auto=format&fit=crop&w=1650&q=80" alt="image">

<a href="/about">Go to About</a>